@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<object type="image/svg+xml" data="home.svg"> </object>
            <div style="text-align: center;">
                <h1>Gartner Hotel Key Issuance and Verification</h1>
        
                <button type="button" id="idIssue" class="button">GET KEY</button>
                <button type="button" id="idVerify" class="button">VERIFY KEY</button>
                <script>
                        var idIssue = document.getElementById('idIssue');
                        var idVerify = document.getElementById('idVerify');

                        idIssue.addEventListener('click', () => {
                            window.location = "issuer";
                        })
                        idVerify.addEventListener('click', () => {
                            window.location = "verifier";
                        })
                    </script>
            </div>
