@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
            @*<div style="text-align: center;">*@
	    @*<div style ="display:flex; flex-direction: row; justify-content: center; align-items: center; gap: 50px">*@
	    <div class = "flex-home">
		<div class = "picture-div-home"> 
		<object type="image/svg+xml" data="hotel-icon.svg"> </object>
		</div> 

		<div class = "text-container"> 
		<h1>Welcome Guest!</h1>
                <h1>Use the Microsoft Verified ID Service to verify your identity and receive credential as your keycard for your stay at the Gartner Hotel.</h1>

		</div> 
            </div>
	    <div>
		<ul>
			<li id = "step1"> Download the Microsoft Authenticator app onto an iOS device </li>
			<li id = "step2"> Scan the QR code on the <a href = "issuer" id = "idIssue"> Issue Credential </a> page </li>
			<li id = "step3"> Scan the QR code on the <a href = "verifier" id = "idVerify"> Verify Credential </a> page </li>
		</ul> 
		@* code commented below, as it was used in the initial implementation 
		<button type="button" id="idIssue" class="button">GET KEY</button>
                <button type="button" id="idVerify" class="button">VERIFY KEY</button>
                <script>
                        var idIssue = document.getElementById('idIssue');
                        var idVerify = document.getElementById('idVerify');

                        idIssue.addEventListener('click', () => {
                            window.location = "issuer";
                        })
                        idVerify.addEventListener('click', () => {
                            window.location = "verifier";
                        })
                    </script>*@
	    </div> 
