body {
    font-family: sans-serif;
    margin: 0;
    /*background-color: #E0E0E0;*/
}
#wrap {
    margin: 3% auto;
    width: 1280px;
    /*background-color: pink;*/
}

#homeli li+li:before {
    padding: 8px;
    list-style-image: url('chevron-icon.svg');

}

#homeli {
    display: inline;
}

.breadcrumb {
    padding: 10px; 30px;
    list-style: none;
}

.flex-home {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:stretch;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: lightgray;
}

.picture-div-home {
    margin-left: 10%; 
    /*background-color: red;*/
}

.text-container {
    /*background-color: blue;*/
    margin-left: 5%;
}

#step1 {
    list-style-image: url(step1-icon.svg);
}

#step2 {
    list-style-image: url(step2-icon.svg);
}

#step3 {
    list-style-image: url(step3-icon.svg);
}

.button {
    background-color: #3B2E58;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

.dark-purple-fill {
  background-color: #3B2E58;
}
.light-purple-fill {
  background-color: #8661c5;
}

.icon-small {
  width: 50px;
  padding-bottom: 5px;
}

.icon-text-large {
  font-size: 100px;
}

.small-text {
  font-size: 16px;
}

.tiny-text {
  font-size: 12px;
}

.text-gray {
  color: gray;
}

.text-center {
  text-align: center;
}

#qrcode > img {
  margin: 0 auto;
  padding-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-75 {
  margin-bottom: 50px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.green {
  color: #228B22;
}

#message {
  font-size: 1.5em;
}

#subject {
    font-size: 1.5em;
} 
